################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Atena/AtenaApi/obj/Debug/net6.0
/Atena/AtenaApi/obj
/Atena/.vs
/.vs
/Atena/AtenaApi/bin/Debug
/Atena/Atena.Domain/obj
/Atena/Atena.Domain.Core/obj
/Atena/Atena.Domain.Core/bin/Debug/net7.0
/Atena/Atena.Domain/bin/Debug/net7.0
/Atena/Atena.Infra/bin/Debug/net7.0
/Atena/Atena.Infra/obj
/Atena/Atena.Service/bin/Debug/net7.0/Atena.Domain.Core.dll
/Atena/Atena.Service/bin/Debug/net7.0/Atena.Domain.Core.pdb
/Atena/Atena.Service/bin/Debug/net7.0/Atena.Domain.dll
/Atena/Atena.Service/bin/Debug/net7.0/Atena.Domain.pdb
/Atena/Atena.Service/bin/Debug/net7.0/Atena.Service.dll
/Atena/Atena.Service/obj/Debug/net7.0/Atena.Service.assets.cache
/Atena/Atena.Service/obj/Debug/net7.0/Atena.Service.csproj.AssemblyReference.cache
/Atena/Atena.Service/obj/Atena.Service.csproj.nuget.dgspec.json
/Atena/Atena.Service/obj/Atena.Service.csproj.nuget.g.props
/Atena/Atena.Service/obj/project.assets.json
/Atena/Atena.Service/obj/project.nuget.cache
/Atena/Atena.Service/obj/Debug/net7.0/Atena.Service.pdb
/Atena/Atena.Service/obj/Debug/net7.0/Atena.Service.GeneratedMSBuildEditorConfig.editorconfig
/Atena/Atena.Service/obj/Debug/net7.0/Atena.Service.dll
/Atena/Atena.Service/obj/Debug/net7.0/Atena.Service.csproj.CoreCompileInputs.cache
/Atena/Atena.Service/bin/Debug/net7.0/Atena.Service.pdb
/Atena/Atena.Service/obj/Debug/net7.0/Atena.Service.csproj.FileListAbsolute.txt
