################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Atena/AtenaApi/obj/Debug/net6.0
/Atena/AtenaApi/obj
/Atena/.vs
/.vs
/Atena/AtenaApi/bin/Debug
/Atena/Atena.Domain/obj
/Atena/Atena.Domain.Core/obj
/Atena/Atena.Domain.Core/bin/Debug/net7.0
